
@{
    ViewBag.Title = "ComoChegar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <!-- Page Content -->
    <h2>Como Chegar</h2>
    <hr style="background-color:lightgray;height:1px;margin-top:-30px;" />
    <div class="row">
        <h4>Informações de localização e rotas.</h4>
    </div>


    <div class="row">


        <section class="col-6">
            <section class="col-6">
                <div class="container">
                    <!-- frame do maps -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.74462221813!2d-46.86307048502049!3d-23.649315084639294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cfab743b6494a1%3A0xc1f14ff75041b7a6!2sPav%20Com%C3%A9rcio%20para%20Piscina!5e0!3m2!1spt-BR!2sbr!4v1568749000190!5m2!1spt-BR!2sbr" width="630" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </section>
        </section>

        <div class="col-1">

            <hr style="background-color:darkgray;width:2px; height:350px;" />

        </div>

        <section class="col-5">
            <div class="row">
                <h2>Endereço</h2>
            </div>

            <div class="row">
                <div class="col-5">
                    <h4>Rua João Batista Medina, Nº 843</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <h4>Bairro: nanana</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <h4>Cidade: Embu das Artes</h4>
                </div>
            </div>

            <div class="row">
               <div class="col-5">
                    <h4>SP, Brasil</h4>
                </div>
            </div>
        </section>

    </div>
    <br/>