
@{
    ViewBag.Title = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .produto{
        border-style:solid;
        border-
    }
</style>

<div class="container">
    <br />
    <!-- Page Content -->
    <h2>Produtos</h2>
    <hr style="background-color:lightgray;height:1px;margin-top:-30px;" />
    <div class="row">
        <h4>Abaixo toda a lista de produtos disponíveis para comprar na loja:</h4>
    </div>

    <div class="row">

        <div class="col-sm-12">

            <div class="col-sm-4 produto">

            </div>

        </div>

    </div>
</div>