@{ ViewBag.Title = "Servicos"; Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="container">
    <br />
    <!-- Page Content -->
    <h2>Serviços</h2>
    <hr style="background-color:lightgray;height:1px;margin-top:-30px;" />
    <div class="row">
        <h4>Se precisar, estes são os serviços que prestamos:</h4>
    </div>

    <!-- Main -->
    <section class="wrapper style1">
        <div class="container">
            <div class="row gtr-200">
                <div class="col-12 col-12-narrower">

                    <!-- Posts -->
                    <section class="wrapper style1">
                        <div class="container">
                            <div class="row">
                                <section class="col-6 col-12-narrower">
                                    <div class="box post">
                                        <a href="#" class="image left"><img src="~/IMG/manutencao.jpg" alt="" /></a>
                                        <div class="inner">
                                            <h3>Manutenção</h3>
                                            <p>Precisando trocar o filtro? Mangueiras? Bombas? Resolvemos esse problema! É só solicitar no nosso <a href="https://play.google.com">aplicativo</a>.</p>
                                        </div>
                                    </div>
                                </section>

                                <section class="col-6 col-12-narrower">
                                    <div class="box post">
                                        <a href="#" class="image left"><img src="~/IMG/Limpeza.jpg" alt="" /></a>
                                        <div class="inner">
                                            <h3>Limpeza</h3>
                                            <p>Limpamos piscinas residenciais e coletivas, combatendo microorganismos, equilibrando o PH da água com produtos de qualidade.</p>
                                        </div>
                                    </div>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col-6 col-12-narrower">
                                    <div class="box post">
                                        <a href="#" class="image left"><img src="~/IMG/instalacao2.jpg" alt="" /></a>
                                        <div class="inner">
                                            <h3>Instalação</h3>
                                            <p>Instalamos piscinas em residencias, locais públicos, condomínios, etc., independente do tamanho e material.</p>
                                        </div>
                                    </div>
                                </section>
                                <section class="col-6 col-12-narrower">
                                    <div class="box post">
                                        <a href="#" class="image left"><img src="~/IMG/Reforma.jpg" alt="" /></a>
                                        <div class="inner">
                                            <h3>Reforma</h3>
                                            <p>Furou? Rachou? Tinta descascando? Problemas na tubulação? Podemos deixar sua piscina impecável.</p>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </section>
</div>